@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/core/lib/scss/variables";



.row
{
    display: flex;
    flex-direction: row;
    > *
    {
        flex:1;
    }
}

.center-800
{
    max-width:800px;
    margin-left: auto;
    margin-right: auto;
}

.bottom-100
{
    margin-bottom: 100px;
}

.top-100
{
    margin-top: 100px;
}

.top-20
{
    margin-top: 20px;
}

.oneline
{
    display: flex;
    flex-direction: row;
    > *
    {
        margin-right:10px;
    }
}

